$red-color: #FB3640;
$pink-color:#FFEEEF;

.user-card{
    padding: 3em;
    box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s;
    
    &:hover{
        cursor: pointer;
        box-shadow: 0px 10px 17px 5px rgba(0, 0, 0, 0.2);
    }

    &__header{
        font-weight: bold;
        margin-bottom: 1em;
    }

    &__avatar{
        padding: 0.9em;
        border-radius: 50%;
        font-size: x-large;
        font-weight: bold;
        color: black;
        margin-bottom: 0.7em;
    }

    &__name{
        color: $red-color;
        font-weight: bold;
        margin-bottom: 0.7em;
    }

    &__rating{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0.4em;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &__dot{
            background: #C4C4C4;
            width: 1em;
            height: 1em;
            border-radius: 50%;
        }
    }
}