$red-color: #FB3640;
$pink-color:#FFEEEF;

#navbar{
    width: 100%;
    box-shadow: 0px 1px 0px #E5E9F2;
    display: flex;
    justify-content: center;
}
#center-nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
#links-left{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
}

#title-center{
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
#btn-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;

    .navbar-messages-btn{
        mask: url("../../illustrations/navbar/message.svg") no-repeat center;
        mask-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-color: #898989;
        &:hover{
            background-color: $red-color;
            cursor: pointer;
        }
    }

    .navbar-profile-btn{
        mask: url("../../illustrations/navbar/profile.svg") no-repeat center;
        mask-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-color: #898989;
        &:hover{
            background-color: $red-color;
            cursor: pointer;
        }
    }
}
.text-black{
    color: black;
}
.text-black:hover{
    color: black;
    cursor: pointer;
}


@media only screen and (max-width: 768px){
    #links-left{
        display: none;
    }
    #title-center{
        justify-content: left;
        padding-left: 0;
    }
    #btn-right{
        gap:1rem;
    }
}
@media only screen and (max-width: 489px){
    #btn-right{
        flex-direction: column;
        gap:0;
        #signup{
            margin-left:0;
            margin-top:0.5em;
        }
    }
    
}