$red-color: #FB3640;
$pink-color:#FFEEEF;

#navbar{
    width: 100%;
    box-shadow: 0px 1px 0px #E5E9F2;
    display: flex;
    justify-content: center;
    height: 10vh;
}
#center-nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
#links-left{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
}

#title-center{
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
#btn-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;

    .navbar-messages-btn{
        mask: url("../../illustrations/navbar/message.svg") no-repeat center;
        mask-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-color: #898989;
        &:hover{
            background-color: $red-color;
            cursor: pointer;
        }
    }

    .navbar-profile-btn{
        mask: url("../../illustrations/navbar/profile.svg") no-repeat center;
        mask-size: 1.5rem;
        width: 2rem;
        height: 2rem;
        background-color: #898989;
        &:hover{
            background-color: $red-color;
            cursor: pointer;
        }
    }
}
.text-black{
    color: black;
}
.text-black:hover{
    color: black;
    cursor: pointer;
}
.profile-icon-navbar, .messages-icon-navbar{
    cursor: pointer;
   
}

.chat-icon{
    fill:#FB3640, 100%;
    width: 55%;
    cursor: pointer;
}

.nav-progress-bar{
    width:0%; 
    height: 100%;
    animation-name: update;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: $red-color !important;
}
.nav-progress{
    width: 100%;
    height: 0.2rem !important;
}

@keyframes update{
    from {width: 0%;}
    to {width: 100%}
}


@media only screen and (max-width: 768px){
    #links-left{
        display: none;
    }
    #title-center{
        justify-content: left;
        padding-left: 0;
        margin-bottom: -3px;
    }
    #btn-right{
        gap:1rem;
    }
}

@media only screen and (max-width: 576px){
    #navbar {
        height: min-content;
    }
}