$red-color: #FB3640;

.chat-container{
    display: inline-block;
    margin-left:15%;
    margin-right: 15%;
    height: 90vh;
    width: 70%;

}

.conversations{
    width: 30%;
    float: left;
    height: 90vh;
    background-color: white;
    border:1px solid #E5E9F2;
    overflow-y: scroll;
}

.messages{
    width: 70%;
    float: right;
    height: 90vh;
    background-color: #00ff00;
}