$red-color: #FB3640;
$pink-color:#FFEEEF;

.fas{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fas-filter{
    width: 50%;  
}
.fas-input{
    max-width:26em;
    margin-top: 0.5em;
    border-color: $pink-color;
}
.fas-input.form-control{
    border: solid 0.1875rem $pink-color;
}

.dropdowns{
    margin-top: 1em;
    max-width: 26em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2em;
}
.pos-relative{
    width: 100%;
    position: relative;
}
.fas-button{
    margin-top: 0.45em;
}


@media only screen and (max-width:1600px) {
    .fas-filter{
        width: 65%;  
    }
}
@media only screen and (max-width:1250px) {
    .fas-filter{
        width: 75%;  
    }
}

@media only screen and (max-width:1068px) {
    .fas{
        flex-direction: column;
        align-items: flex-end;  
    }
    .fas-button{
        margin-top: 3.1em;
    }
    .fas-filter{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .fas-search{
        width: 100%;
    }
    .dropdowns{
        width: 100%;
    }
    .fas-search{
        display: flex;
        justify-content: flex-end;
    }
}
