.home-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.home-top{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content:space-between;
    margin-bottom: 1.5em;
}
.home-publish-btn-div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.home-publish-btn{
    padding: 1.2em 4em;
}

@media only screen and (max-width:1068px) {
    .home-top{
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (max-width:766px) {
    .home-top{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .home-publish-btn-div{
        margin-top: 2em;
    }
}