.card-element {
    margin: 1em;
    box-shadow: 4px 5px 14px 2px rgba(170, 170, 170, 0.151);
    border-radius: 15px;
    
    transition-duration: 200ms;
    transition-property: box-shadow;
    transition-timing-function: ease;
    height: fit-content;
    min-height: 12rem;
    padding: 20px;

    &:hover {
        cursor: pointer;
        box-shadow: 4px 5px 14px 2px rgba(170, 170, 170, 0.514);
    }

    
    &__upper {
        padding-top: 1rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        font-weight: 700;
        display: flex;
        justify-content: space-between;

        &__title {
            font-size: 1.5em;
        }

        &__cost {
            font-size: 1.5em;
            color: #FB3640;
        }
    }

    &__lower {
        padding-bottom: 1rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 0.5rem;

        &__publisher {
            font-weight: 700;
            padding-bottom: 0.5rem;
        }

        &__categories-grid {
            margin-top: 0.3rem;
            margin-left: -0.3rem;
            display: flex;
            flex-wrap: wrap;
        }
    }
}


