
.footer{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-container{
    width:90%
}
.f-title{
    display: flex;
    align-items: center;
    margin: 0;
}
.f-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.f-icons{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:0.5em;
}
.f-icon{
    background-color:rgb(41, 40, 40);
    width:2em;
    padding: 0.5em;
    border-radius: 50%;
}

@media only screen and (max-width:768px){
    .f-text{
        margin-top: 0.5em;
        justify-content: start;
    }
    .f-icons{
        margin-top: 0.7em;
        justify-content: start;
    }

}