$red-color: #FB3640;
$pink-color:#FFEEEF;

.text-bold{
    font-weight: bold;
}
.text-ligther{
    font-weight:lighter;
}
.text-small{
    font-size: small;
}
.text-red {
    color: $red-color;
}
.bg-pink{
    background-color: $pink-color;
}
.bg-red{
    background-color: $red-color;
}

.bg-white{
    background-color: white;
}

.round{
    border:none;
    border-radius: 8px;
}

.bg-black{
    background-color: black;
}
.btn-hover:hover{
    box-shadow: 0 0 5px $red-color;
}
.btn-hover-inset:hover{
    box-shadow: 0 0 4px $red-color inset;
}