$red-color: #FB3640;
$pink-color:#FFEEEF;

.text-bold{
    font-weight: bold;
}
.text-ligther{
    font-weight:lighter;
}
.text-small{
    font-size: small;
}
.text-red {
    color: $red-color;
}
.bg-pink{
    background-color: $pink-color;
}
.bg-red{
    background-color: $red-color;
}
.bg-white{
    background-color: white;
}