
.center{
    padding-left: 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.logo{
    width: 90%
}

.round{
    border:none;
    border-radius: 8px;
}

#title{
    font-size:xx-large;
    font-weight: bold;

}
#description{
    font-size:large;
}

@media only screen and (min-width: 900px){
    .center{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media only screen and (min-width: 1175px){
    .center{
        padding-left: 20%;
        padding-right: 20%;
    }
    #title{
        font-size:3vw;
    }
    #description{
        font-size:1.3vw;
    }
}