$red-color: #FB3640;

#center-lp{
    display: flex;
    justify-content: center;
}
.center-landing-page{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 80%;
}
#right-text{
    width: 60%;
}

.logo{
    width: 90%
}

#lm:hover{
    color: $red-color;
    text-decoration: none;
}

#btn-landing{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    #lm{
        margin-right: 1em;
    }
}

#title{
    font-size:xx-large;
    font-weight: bold;

}
#description{
    font-size:large;
}

@media only screen and(max-width: 361px){
    #btn-landing{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        #lm{
            margin-right: 0em;
            margin-bottom: 0.5em;
        }
    }
}
@media only screen and (max-width: 767px){
    #right-text{
        width: 100%;
    }
}
