.reviews{
    &-inner{
        max-height: 28em;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__placeholder{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__img{
            max-width: 100%;
            background: rgba(255, 165, 2, 0.5);

        }
        &__title{
            font-size: large;
            font-weight: 800;
        }
    }

    &__title{
        font-size: large;
        font-weight: 800;
        margin-bottom: 1em;
    }
}


.review-card{
    margin: 2em 2em 2em 0.3em;
    box-shadow: 0px 4px 10px 2px rgba(140, 140, 140, 0.25);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    align-items: center;

    &__dots{

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 0.4em;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        margin-right: 1em;

        &__dot{
            background: #C4C4C4;
            width: 1em;
            height: 1em;
            border-radius: 50%;
        }
    }

    &__rating{
        font-size: xx-large;
        font-weight: 800;
        margin-right: 2rem;
    }

    &__text{
        &__description{
            font-weight: 500;
            margin-bottom: 0.5em;
        }
    }
}

@media only screen and(max-width: 450px) {
    .review-card{
        flex-direction: column;

        &__dots{
            display: flex;
            flex-direction: row-reverse;
            margin:0;
        }
        &__rating{
            margin:0;
        }

    }
}